<div class="container top30">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar Artista  </label>
 
    <input type="text" 
           class="form-control" 
           placeholder="Buscar Artista..."
           (keyup)="buscarArtista()"
           [(ngModel)]="termino"> 
           
  </div>
      <div class="col-md-9" *ngIf="termino.length > 1">
          <h1 class="text-capitalize">{{termino}}</h1>
          <hr>

          <!-- *ngFor="let artista of _spotifyService.artistas" -->
         <div class="row">
           <div *ngFor="let artista of _spotifyService.artistas" 
                class="col-md-3 text-center puntero">
             <img [src]="artista.images | sinfoto" class="img-thumbnail" >
             <p>{{ artista.name }}</p>
           </div>
         </div>
      </div>
    </div>
  </div>



